@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "DotGothic16", sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: "DotGothic16", sans-serif;
    }
}
